html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Zilla Slab", serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    font-size: 2.5rem;
  }
}
.fondo-blanco h2 {
  color: #021621;
}

.fondo-negro h2 {
  color: #ffffff;
}

.padding-section {
  width: 100%;
  padding: 30px;
}

@media (min-width: 992px) {
  .padding-section {
    padding: 50px;
  }
}

.fondo-blanco {
  background-color: #ffffff;
}

.fondo-gris {
  background-color: rgba(132, 133, 134, 0.8549019608);
}

.fondo-negro {
  background-color: #021621;
}

.iconify {
  font-size: 1.8rem;
}

strong {
  font-weight: 700;
}

.logo {
  width: 12rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  height: unset!important;
}

.enlaces {
  font-size: 2rem;
  color: #021621;
  font-family: "Roboto", sans-serif;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.material-icons svg {
  font-size: 4rem!important;
}

.sidenav {
  width: 200px;
}

.sidenav-trigger {
  color: #021621;
}

.contenedor-enlaces {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-enlaces__internos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.redes_lg {
  display: none;
}

@media (min-width: 992px) {
  .redes_lg {
    display: flex;
  }
}
.material-icons svg {
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #021621;
  padding: 2rem 0;
}

@media (min-width: 992px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
}
.avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .avatar {
    width: 30rem;
    height: 30rem;
  }
}
.texto-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0;
  color: #ffffff;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
.parrafo-main {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
  margin-top: 0;
  color: #ffffff;
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .parrafo-main {
    font-size: 3rem;
    margin-top: 0;
  }
}
button {
  background-color: #021621;
  border: solid 1px #ffffff;
  transition: all 0.3s;
}
button:hover {
  background-color: #ffffff;
}
button a {
  display: block;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.3s;
}
button a:hover {
  border: none;
  color: #021621;
  text-decoration: none;
}

@media (min-width: 992px) {
  button {
    margin-bottom: 0;
  }
}
.container-botones_cv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .container-botones_cv {
    flex-direction: row;
    justify-content: space-between;
  }
}

#sobre-mi {
  color: #021621;
}

#actualidad {
  color: #ffffff;
}

.boton-fijo {
  left: 23px;
  right: unset;
}

.banner-techs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  gap: 10px;
}

@media (min-width: 768px) {
  .banner-techs {
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .banner-techs {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 100px;
  height: 50px;
}

.banner img.database {
  width: 60px;
}

.banner img.img-infor {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .banner img {
    width: 150px;
    height: 70px;
  }

  .banner img.database {
    width: 70px;
  }

  .banner img.img-infor {
    width: 120px;
    height: 120px;
  }
}

.banner p {
  text-align: center;
}

.container-botones {
  display: flex;
  gap: 30px;
}

.boton-link {
  background-color: #ffffff;
  border: solid 1px #021621;
  margin-top: 20px;
}

.boton-link:hover {
  background-color: #021621;
  border: none;
}

.boton-link a {
  color: #021621;
  font-size: 1.4rem;
}

.boton-link a:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  .boton-link a {
    font-size: 2rem;
  }
}

#contacto {
  color: #021621;
}

.container-secciones__textos-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .botones-contacto {
    flex-direction: row;
    gap: 20px;
  }
}
.botones-contacto button {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: solid 1px #021621;
}
.botones-contacto button:hover {
  background-color: #021621;
  border: none;
}

@media (min-width: 768px) {
  .botones-contacto button {
    margin-bottom: 0;
  }
}
.botones-contacto button a {
  color: #021621;
}
.botones-contacto button a:hover {
  color: #ffffff;
}

.botones-contacto button:last-child {
  margin-bottom: 0;
}

.subir {
  display: flex;
  background-color: #021621;
  padding: 10px;
  border-radius: 50%;
  border: solid 2px #ffffff;
}

.subir .flecha {
  font-size: 3rem;
  color: #ffffff;
}

footer {
  margin: 0;
  padding: 20px 0;
}
footer p {
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
